td {
    text-align: center;
    width: 14%;
}

table {
    width: 70%;
    max-width: 100%;
    margin-bottom: 20px;
}

table, table th, table td {
    border-collapse: collapse;
    border:1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 10px;
}

button {
    margin: 0 5px;
    cursor: pointer;
}

#userID {
    display: flex;
    float: left;
    padding: 15px 10px 10px 0px;
}

#username {
    display: flex;
    padding: 15px 10px 10px 0px;
    /* justify-content: flex-end; */
}

#currentDisplayedYYYYMM {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* カレンダーのスタイル */
#calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

html {
    min-width: 100vw;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    margin-bottom: 0px;
}

/* 日付ボタンのスタイル */
.day-button {
    cursor: pointer;
    background-color: rgb(113, 161, 249);
    border: 1px solid rgb(113, 161, 249);
    padding: 10px;
    margin: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: top;
    font-size: 40px;
    border-radius: 50%; /* 丸くするための設定 */
    opacity: 0.7; /* 半透明にする */
    position: relative; /* 相対位置指定 */
    z-index: 1; /* 他の要素より上に配置 */
}

/*日付のスタイル*/
.day-button span {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* テキストはday-buttonの上に配置 */
}

.font {
    font-size: 50px;
}

font span {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* テキストはday-buttonの上に配置 */
}
.taskTitleCell {
    margin-top: 5px;
    font-size: 12px;
}

/* モーダルのスタイル */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    z-index: 1000;
    text-align: center;
    min-height: 20%;
    min-width: 30%;
}

.modal-close {
    /* display: none; */
    position: fixed;
    top: 20%;
    right: -8%;
    transform: translate(-50%, -50%);
    padding: 0%;
    background-color: #fff;
    border: 2px solid #fff;
    z-index: 1000;
    text-align: center;
    margin: 0% 2%;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

span {
    color: #000;
}

.task-title {
    font-size: 110%;
    background-color: aquamarine;
}

@media (prefers-color-scheme: dark) {
    :root {
        --nc-font-sans: 'Inter',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --nc-font-mono: Consolas,monaco,'Ubuntu Mono','Liberation Mono','Courier New',Courier,monospace;
        --nc-tx-1: #000000;
        --nc-tx-2: #1A1A1A;
        --nc-bg-1: #FFFFFF;
        --nc-bg-2: #F6F8FA;
        --nc-bg-3: #E5E7EB;
        --nc-lk-1: #0070F3;
        --nc-lk-2: #0366D6;
        --nc-lk-tx: #FFFFFF;
        --nc-ac-1: #79FFE1;
        --nc-ac-tx: #0C4047;
    }
}