<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo List</title>
    <link rel="stylesheet" href="../static/calendar.css">
    <link rel="stylesheet" href="../static/todo.css">
    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <!-- JavaScript -->
    <script defer src="{{ url_for('static', filename='todo.js') }}"></script>
    <style>
        ul {
            list-style: none;
        }
        .taskItem {
            font-size: 30px;
        }
        .taskStatus {
            font-size: 15px;
        }
    </style>
</head>

<body>
    <header>
        <h1>Todo List</h1>
        {% if message %}
        <h2 id="userID">ユーザID:</h2>
        <h2 id="username" class="username">{{ message }}</h2>
        {% endif %}
    </header>
    <main>
        <section>
            <!-- Todo Task Form -->
            <form id="taskForm">
                <label for="taskInput" class="formName">タスク名:</label>
                <input type="text" id="taskInput" placeholder="タスクを入力してください"><br>
                <div class="taskContent-container">
                    <label for="taskContent" class="formName">タスク内容:</label>
                    <textarea id="taskContent" placeholder="タスクの詳細"></textarea><br>
                </div>
                <label for="taskDeadline">期限：</label>
                <input type="datetime-local" id="taskDeadline"><br>
                <label for="taskStatus" class="task">タスク状態：</label>
                <select id="taskStatus">
                    <option value="0">準備中</option>
                    <option value="1">準備完了</option>
                    <option value="2">実行中</option>
                    <option value="3">完了</option>
                </select>
                <button type="button" onclick="addTask()" class="button">タスクを追加</button>
            </form>
            <!-- Current Tasks -->
            <h2>現在のタスク</h2>
            <ul id="taskList">
                <!-- Tasks will be dynamically added here -->
            </ul><br />
            <!-- Calendar Section -->
            <div id="header">
                <div id="currentDisplayedYYYYMM"></div>
                <button id="prevMonth" onclick="prevClick()">&lt; Preview</button>
                <button id="nextMonth" onclick="nextClick()">Next &gt;</button>
            </div>
            <div id="calendar"></div>
            <!-- Event Modal -->
            <div class="modal-overlay" id="modalOverlay" onclick="closeModal()"></div>
            <div class="modal" id="myModal">
                <div class="modal-close">
                    <button onclick="closeModal()">❌</button>
                </div>
                <div>
                    <p id="modalContent">ここに予定の内容を入れる</p>
                </div>
            </div>
        </section>
    </main>
    <!-- JavaScript -->
    <script></script>
</body>

</html>
